// Colors
// =======================================
$white: white;
$black: black;

// Typography
// =======================================
$font-family-sans-serif: "Inter", sans-serif;
$font-size-base: 0.9rem;

// Posible values: 2.0 | 3 | 4.5 | 7
$min-contrast-ratio: 2;

// App header
// =======================================
$ds-header-height: 60px;
$ds-header-bg: $white;
$ds-header-border-color: darken($white, 8%);

// App sidebar
// =======================================
$ds-sidebar-width: 260px;
$ds-sidebar-bg: #0f172a;
$ds-sidebar-color: $white;
$ds-sidebar-padding-x: 1rem;
$ds-sidebar-transition-speed: 500ms;
$ds-sidebar-header-border-bottom-color: rgba(invert($ds-sidebar-bg, 100%), 0.1);
$ds-sidebar-back-bg: rgba($ds-sidebar-bg, 0.3);

:root {
    --ds-white: #{$white};
    --ds-black: #{$black};


    // App header
    // =======================================
    --ds-header-height: #{$ds-header-height};
    --ds-header-bg: #{$ds-header-bg};
    --ds-header-border-color: #{$ds-header-border-color};

    // App sidebar
    // =======================================
    --ds-sidebar-font-size: 0.9rem;
    --ds-sidebar-width: #{$ds-sidebar-width};
    --ds-sidebar-bg: #{$ds-sidebar-bg};
    --ds-sidebar-color: #{$ds-sidebar-color};
    --ds-sidebar-padding-x: #{$ds-sidebar-padding-x};
    --ds-sidebar-header-border-bottom-color: #{$ds-sidebar-header-border-bottom-color};
    --ds-sidebar-back-bg: #{$ds-sidebar-back-bg};

    // App sidebar navigation
    // =======================================
    --ds-sidebar-nav-color: rgba(255, 255, 255, 0.7);
    --ds-sidebar-nav-active-color: var(--ds-white);
    --ds-sidebar-nav-active-bg: rgba(255, 255, 255, 0.12);
    --ds-sidebar-nav-icon-width: 25px;
}