@import "../variables";

.dashboard-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: var(--ds-header-height);
    background-color: var(--ds-header-bg);
    border-bottom: 1px solid var(--ds-header-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dashboard-header .dropdown {
    .dropdown-toggle {
        &:after {
            display: none;
        }
    }

    .dropdown-menu {
        width: var(--ds-header-dropdown-menu-width);
    }
}