@import "../variables";

.dashboard-sidebar {
    position: fixed;
    width: var(--ds-sidebar-width);
    background-color: var(--ds-sidebar-bg);
    inset: 0 auto 0 0;
    z-index: 20;
    left: calc(var(--ds-sidebar-width) * -1);
    color: var(--ds-sidebar-color);
    display: flex;
    flex-direction: column;
}

.dashboard-sidebar-header {
    height: var(--ds-header-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--ds-sidebar-border-color);
    padding: 0 var(--ds-sidebar-padding-x);

    a {
        color: var(--ds-sidebar-color);
        text-decoration: none;
    }

    img {
        max-width: 80%;
        max-height: calc(var(--ds-header-height) - 1rem);
    }
}

.dashboard-sidebar-body {
    flex: 1;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dashboard-sidebar-logo {
    text-decoration: none;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
}

[data-dashboard-sidebar-back] {
    display: none;
    position: fixed;
    inset: 0;
    background-color: var(--ds-sidebar-back-bg);
    z-index: 10;
}